* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c1d72e;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    padding-bottom: 100px;
}

.answer,
#id,
.container {
    margin-top: 20px;
}

h1 {
    margin-top: 50px;
    font-size: 7vw;
}

h2 {
    font-size: 3vw;
}

p {
    margin-top: 20px;
    font-size: 2.5vw;
}

.answer p {
    font-size: 2vw;
}

button {
    /* width: 50px; */
    height: 40px;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    color: #c1d72e;
}

.buttons {
    text-align: start;
    margin-left: 175px;
    margin-right: 160px;
    max-width: 78%;
}

button:hover {
    color: white;
    background-color: #c1d72e;
    border: 0.5px solid white;
}

canvas {
    border: 1px solid white;
    width: 350px;
    height: 200px;
    color: white;
    max-width: 50%;
}

.endbtn button {
    width: 200px;
    height: 60px;
    background-color: #c1d72e;
    border: 1px solid white;
    color: white;
}

.endbtn button:hover {
    background-color: white;
    color: #c1d72e;
}

#blanks {
    margin-top: 20px;
    letter-spacing: 10px;
    font-size: 3vw;
}

.block {
    max-width: 5%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
